@model IEnumerable<LanguageCenter.Areas.Admin.Pages.DashboardModel.UserViewModel>


<h3 class="mb-3">Recent Users</h3>

<div class="table-responsive mb-5">
    <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th>Email</th>
                <th>Created Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.CreatedDate.ToString("yyyy-MM-dd")</td>
                        <td>
                        @if (user.IsActive)
                        {
                                    <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                                    <span class="badge bg-secondary">Inactive</span>
                        }
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
